[Desktop Entry]
Name=Lunarr
Comment=Self-hosted software controller built using Flutter
Exec=lunarr
Icon=${SNAP}/meta/gui/lunarr.png
Terminal=false
Type=Application
Categories=Utilities;Entertainment;
